* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

input,
select,
textarea,
button {
    font-size: inherit;
    font-family: inherit;
}

/* ==================== Common ==================== */

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-flex;
    min-width: 193px;
    line-height: 56px;
    opacity: 0.6;
    padding: 0 40px;
    border: 1px solid #ff5b2e;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    border-radius: 31px;
    font-weight: 500;
    font-size: 1.6rem;
    /* identical to box height, or 100% */
    text-align: center;
    color: #ff5b2e;
}

.heading {
    font-family: "Sora", sans-serif;
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.19;
    /* or 119% */
    color: #000958;
}

.desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    /* or 188% */
    color: #656689;
}
/* ===== Header ===== */

.header {
    padding-top: 26px;
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: inline-flex;
}

.logo__text {
    margin-left: 10px;
}

/* Navbar */

.navbar__list {
    display: flex;
}

.navbar__link {
    padding: 8px 18px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    /* identical to box height, or 100% */
    color: #5e6085;
}

.navbar li.navbar__tab--active .navbar__link {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    /* identical to box height, or 100% */
    color: #000958;
}

/* Action */

.action__signup {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    min-width: 118px;
    border: 1px solid rgb(0, 9, 88, 0.5);
    border-radius: 99px;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 50px;
    /* identical to box height, or 100% */
    text-align: center;
    color: #000958;
}

.action__login {
    margin-right: 28px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    /* identical to box height, or 100% */
    color: #5e6085;
}

/* ===== Hero ===== */

.hero {
    margin-top: 100px;
}

.hero__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__media {
    display: flex;
    position: relative;
    padding-bottom: 94px;
}

.hero__img-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 388px;
    height: 488px;
    border: 3px solid #fff;
    background: #fe997b;
    border-radius: 16px;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}

.hero__decor--left {
    position: absolute;
    left: -58px;
    bottom: 10px;
    z-index: -1;
}

.hero__decor--right {
    position: absolute;
    right: -43px;
    top: 16.66px;
    z-index: -1;
}

.hero__img-wrap-small {
    align-self: flex-end;
    width: 186px;
    height: 244px;
    background: #faa7ad;
    border-radius: 16px;
    border: 2px solid #fff;
    margin-left: -24px;
    margin-bottom: -58px;
}

.hero__list {
    position: absolute;
    padding: 18px 14px;
    width: 250px;
    height: 156px;
    bottom: 0;
    left: 129px;
    background: #ffffff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    border-radius: 10px;
}

.hero-list-item {
    display: flex;
}

.hero-list-item__thumb {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
    background: #fec23f;
}

.hero-list-item__thumb.bot {
    background: #c6e2fa;
}

.hero-list-item__info {
    margin-left: 10px;
}

.hero-list-item__title {
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    /* identical to box height, or 100% */
    color: #181e52;
}

.hero-list-item__skeleton {
    margin-top: 7px;
    width: 118px;
    height: 4px;
    background: #000958;
    opacity: 0.08;
    border-radius: 10px;
}

.hero-list-item__skeleton.short {
    width: 39px;
    margin-top: 6px;
}

.hero-list-item__line {
    margin: 20px 0;
    margin-top: 20px;
    width: 100%;
    height: 2px;
    border-radius: 99px;
    background: #f2f2f2;
}

.hero__content {
    width: 44%;
}

.hero__heading {
    font-family: "Sora", sans-serif;
    font-weight: 800;
    font-size: 6.6rem;
    line-height: 1.15;
    /* or 115% */
    color: #000958;
}

.hero__desc {
    width: 391px;
    height: 90px;
    margin-top: 24px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    /* or 188% */
    color: #656689;
}

.hero__meet {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin-top: 38px;
}

.hero__btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #ff5b2e;
    color: #fff;
    min-width: 189px;
    opacity: unset;
    padding: 0 30px;
}

.btn__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 99px;
    margin-left: 10px;
}

.hero__link {
    margin-left: 24px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    /* identical to box height, or 100% */
    text-align: center;
    text-decoration-line: underline;
    color: #000958;
}

/* ===== About ===== */

.about {
    margin-top: 138px;
}

.about__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.about__text {
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1;
    /* identical to box height, or 100% */
    color: #5e6085;
}

.about__heading {
    margin-top: 15px;
    width: 446px;
}

.about__desc {
    margin-top: 24px;
    width: 431px;
}

.about__check {
    margin-top: 54px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    gap: 35px;
}

.about__check--item {
    position: relative;
    display: flex;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1;
    /* identical to box height, or 100% */
    color: #48496a;
    align-items: center;
}

.about__check--item::before {
    content: "";
    display: inline-block;
    margin-right: 10px;
    width: 24px;
    height: 24px;
    background: #ff5d31;
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
    border-radius: 4px;
}

.about__check--item::after {
    position: absolute;
    top: 2px;
    left: 5px;
    content: url(../icon/about_check.svg);
}

.about__media {
    position: relative;
}

.about__exp {
    position: absolute;
    left: 0;
    top: 160px;
    padding: 30px 26px;
    width: 136px;
    height: 156px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px rgba(85, 240, 255, 0.17);
    border-radius: 10px;
    text-align: center;
}

.about__exp--title {
    font-family: "Sora", sans-serif;
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1;
    /* identical to box height, or 100% */
    text-align: center;
    color: #ffffff;
}

.about__exp--desc {
    margin-top: 14px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.43;
    /* or 143% */
    text-align: center;
    color: #c6f4f9;
}

.about__decor-left {
    position: absolute;
    top: -39px;
    left: 85px;
}

.about__img-wrap {
    position: relative;
    width: 494px;
    margin-left: auto;
}

.about__img-wrap::after {
    content: "";
    position: absolute;
    height: 336px;
    inset: auto 0 0 0;
    z-index: -1;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    box-shadow: 11px 18px 65px rgba(255, 155, 121, 0.12);
    border-radius: 16px;
}

.about__img {
    display: block;
    width: 450px;
    margin: auto;
}

.about__decor-right {
    position: absolute;
    top: 157px;
    right: -50.63px;
    z-index: -1;
}

/* ===== Feature ===== */
.feature {
    margin-top: 154px;
}

.feature__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.feature__img-wrap {
    position: relative;
    width: 458px;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    border: 2px solid #ffffff;
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
    border-radius: 18px;
}

.feature__img {
    width: 100%;
}

.feature__decor {
    position: absolute;
}

.feature__decor:nth-child(1) {
    top: 12.5px;
    right: 63.16px;
}

.feature__decor:nth-child(2) {
    top: -16px;
    right: 13px;
}

.feature__decor:nth-child(3) {
    top: 33px;
    right: -21px;
}

.feature__decor:nth-child(4) {
    top: 268px;
    right: -33px;
}

.feature__decor:nth-child(5) {
    top: 336px;
    right: 19px;
}

.feature__decor:nth-child(6) {
    bottom: -39.21px;
    right: -23.21px;
}

.feature__decor:nth-child(7) {
    bottom: -46.9px;
    right: -32.6px;
}

.feature__decor:nth-child(8) {
    bottom: -54.58px;
    right: -42px;
}

.feature__content {
    margin-top: 2px;
}

.feature__desc {
    margin: 24px 0 50px;
    width: 511px;
}

.tab__list {
    position: relative;
    display: flex;
    column-gap: 56px;
}

.tab__list::after {
    position: absolute;
    content: "";
    height: 2px;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.07;
    background: #ff5b2e;
    border-radius: 99px;
}

.tab__item--active::after {
    position: absolute;
    content: "";
    width: 95px;
    height: 2px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ff5b2e;
    border-radius: 99px;
}

.tab__item {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    column-gap: 12px;
    cursor: pointer;
}

.tab__icon {
    width: 22px;
}

.tab__title {
    font-family: "Sora", sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1;
    /* identical to box height, or 100% */
    color: #48496a;
}

.tab__content {
    margin-top: 36px;
}

.tab__pane--desc {
    width: 391px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.71;
    /* or 171% */
    color: #656689;
}

.tab__pane--link {
    position: relative;
    display: inline-block;
    margin-top: 32px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    /* identical to box height, or 100% */
    color: #ff5d31;
}

.tab__pane--link::after {
    position: absolute;
    content: "";
    height: 1.5px;
    left: 0;
    right: 0;
    bottom: -5px;
    background: #ff5d31;
}

.tab__pane {
    display: none;
}

.tab__pane--active {
    display: block;
}

/* ===== Service ===== */

.service {
    margin-top: 190px;
    padding: 68px 0 100px;
    background: #fff6ed;
}

.service__body {
    margin-top: 71px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 64px;
}

.service__text {
    display: block;
    font-family: "Sora";
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1;
    /* identical to box height, or 100% */
    text-align: center;
    color: #5e6085;
    text-align: center;
}

.service__heading {
    margin-top: 15px;
    text-align: center;
}

.service__card {
    padding: 30px;
    width: 294px;
    background: #ffffff;
    border: 2px solid rgba(255, 188, 122, 0.26);
    border-radius: 10px;
}

.service__title {
    position: relative;
    padding-left: 12px;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    /* identical to box height, or 100% */
    color: #000958;
}

.service__title::before {
    position: absolute;
    content: "";
    display: inline-block;
    inset: 0 auto 0 0;
    width: 2px;
    height: 22px;
    border-radius: 99px;
    background: linear-gradient(#ff5b2e, #ffa187);
}

.service__desc {
    margin: 18px 0 24px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.71;
    /* or 171% */
    color: #656689;
}

.service__more {
    display: flex;
    align-items: center;
}

.service__more--link {
    margin-right: 6px;
    font-family: "Sora";
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1;
    /* identical to box height, or 100% */
    color: #34396a;
}

.service__card + .service__card {
    margin-top: 24px;
}

.service__img {
    position: relative;
    display: block;
    z-index: 1;
    width: 100%;
}

.service__img-wrap {
    position: relative;
    margin-top: 18px;
}

.service__img-wrap::after {
    position: absolute;
    content: "";
    height: 350px;
    left: 15px;
    right: 15px;
    bottom: 0;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
    border-radius: 10px;
}

.service__cta {
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

.service__cta--btn {
    box-shadow: none;
    opacity: unset;
    border: 1px solid rgba(255, 91, 46, 0.6);
    border-radius: 31px;
}

.service__cta--btn:hover {
    /* hover */
    background: #ff5b2e;
    color: #fff;
}
